*{
	margin: 0px;
	padding: 0px;
}
.menu li /* размер таблички*/
{
float: left;
list-style: none;
margin: 10px 25px ;
}
.blok-menu /*цвет таблички и тень*/
{
	overflow: hidden;
	background: #F5EAEA;
	box-shadow: 0px 13px 17px -6px #000000;/*тень*/
	opacity: 0.7;/*прозрачность*/
	position: fixed;/*опускпет нижний бар*/
  width: 100%;/*ширана нижний бар*/
  bottom: 0px;/*отступ снизу нижний бар*/
}
.menu
{
	margin: 0 auto;
	display: table;
}
.menu li a /*размер текста*/
{
font: 14px verdana,Arial,helvetica,sans-serif;
color: #595353;
text-decoration: none;
}
.menu li a:hover /*размер текста при нажатии на текст*/
{
	font: 14px verdana,Arial,helvetica,sans-serif;
	color: #ccc;
	border-bottom: 1px dotted #ccc;
}
 /*создаем верхний бар*/
* { box-sizing: border-box;
} 
body { 
margin: 0;
background: radial-gradient(#bfd6e2 4px, rgba(255,255,255,0) 2px);/*узор фона страницы*/
background-size: 20px 20px;/*размер узора*/
} 
                           /*Верхний бар*/
header { 
position: relative;
z-index: 10;
background: #FFFFFF; 
text-align: center;
box-shadow: 0px 13px 17px -6px #000000;/*тень*/
width: 100%;
opacity: 0.7;
} 
header a { 
text-decoration: none; 
outline: none; 
display: block; 
transition: .3s ease-in-out; 
} 
.logo { 
color: #D5B45B; 
font-family: 'Playfair Display', serif; 
font-size: 2.5em; 
padding: 20px 0; 
} 
                          /*выпадающее меню*/
nav { 
display: table;
 margin: 0 auto; 
 } 
 nav ul { 
 list-style: none;
  margin: 0; 
  padding: 0; 
  } 
  .topmenu:after { 
  content: ""; 
  display: table; 
  clear: both; 
  } 
  .topmenu > li { 
  width: 25%; 
  float: left; 
  position: relative; 
  font-family: 'Open Sans', sans-serif; } 
  .topmenu > li > a { 
  text-transform: uppercase; 
  font-size: 14px; 
  font-weight: bold; 
  color: #404040; /*цвет текста*/
  padding: 15px 30px; 
  } 
.topmenu li a:hover { 
  color: #D5B45B; 
  } 
                               /* выпадающие меню*/
.submenu:after { 
  content: ""; 
  font-family: "FontAwesome"; 
  color: inherit;
  margin-left: 10px;
  } 
.submenu { 
/* opacity: 0.7; /*прозрачность выпадпющего бара*/
  background: #FFFFFF; /*цвет меню*/
  position: absolute; 
  left: 0; 
  top: 100%; 
  z-index: 5; 
  width: 180px; 
  transform: scaleY(0); 
  transform-origin: 0 0; 
  transition: .5s ease-in-out; 
  box-shadow: 0px 13px 17px -6px #000000;
  } 
.submenu a {
   color: #0C0B0B; 
   text-align: left; 
   padding: 12px 15px; 
   font-size: 14px; 
   border-bottom: 1px solid rgba(255,255,255,.1);
   font-weight: bold;
   } 
  .submenu li:last-child a { 
  border-bottom: none;
  } 
  .topmenu > li:hover 
  .submenu {
  transform: scaleY(1);
  box-shadow: 0px 13px 17px -6px #000000;/*тень*/
  }
  .description {
    min-width: 250px !important;
  } 
                          /*Ромб на мир*/
 .ROMB3{
 	border-radius: 15px;
 	display: flex;/*картинку в div*/
  overflow: hidden;/*текст,картинка внутри div*/
	border: 2px solid #151717;/*рамка размер*/
	width: 120px;/*ширина div*/
	height: 120px;/*высота div*/
	background-color: skyblue;
  transform: rotate(45deg);/*вращать div*/
  /*margin: 5% 5%;/*двигать и не дает придиматься другим блокам div*/
  margin-top: 50px;
  margin-left: 30px;
  box-shadow: 0px 13px 17px -6px #000000;
  position: relative;
  
 }
 .ROMBPR2{
 	transform: rotate(-45deg);
 	width: 200px;
 	height: 200px;
 	margin: -30% -25%;
 }
                          /*Ромб на сертификаты*/
 .ROMB2{
 	border-radius: 15px;
 	display: flex;/*погоняет картинку под div*/
  overflow: hidden;/*текст,картинка внутри div*/
	border: 2px solid #151717;/*рамка размер*/
	width: 120px;/*ширина div*/
	height: 120px;/*высота div*/
	background-color: skyblue;
 transform: rotate(45deg);/*вращать div*/
  /*margin: 10% 5%;/*двигать и не дает придиматься другим блокам div*/
  margin-left: 205px;/*отступ с лево*/
  margin-top: -120px;/*отступ сверху*/
  margin-bottom: 50px;/*отступ снизу*/
  position: relative;
  box-shadow: 0px 13px 17px -6px #000000;
 }
.ROMBJS{
 	transform: rotate(0deg) !important;
 	width: 100% !important;
 	height: 100% !important;
  padding: 0px !important;
 	margin: 0px !important;
}
                           /*Ромб на магазин*/
 .ROMB4{
 	border-radius: 15px;
 	display: flex;/*погоняет картинку под div*/
  overflow: hidden;/*текст,картинка внутри div*/
	border: 2px solid #151717;/*рамка размер*/
	width: 120px;/*ширина div*/
	height: 120px;/*высота div*/
	background-color: skyblue;
 transform: rotate(45deg);/*вращать div*/
  /*margin: 10% 5%;/*двигать и не дает придиматься другим блокам div*/
  margin-left: 375px;/*отступ с лево*/
  margin-top: -170px;/*отступ сверху*/
  margin-bottom: 50px;/*отступ снизу*/
  position: relative;
  box-shadow: 0px 13px 17px -6px #000000;
 }
.ROMBMAGAZINE{
 	transform: rotate(-45deg) !important;
 	width: 100% !important;
 	height: 100% !important;
  padding: 0px !important;
 	margin: 0px !important;
}  

/*.ROMB{
	display: flex;
	box-shadow:
	inset 10px 10px 20px #2A279C, /*тень во внутрь div*/
	inset -10px -10px 20px #A12D2D;/*тень во внутрь div*/
	overflow: hidden;/*текст внутри div*/
	border: 2px solid #151717;/*рамка размер*/
	background-image: url("cartinci/priroda2.png");/*встааить картинку*/
	width: 250px;/*ширина div*/
	height: 250px;/*высота div*/
	background-color: skyblue;
  transform: rotate(45deg);/*вращать div*/
  margin: -0% 70%;/*двигать div*/
}
/*.ROMBP{
	vertical-align: middle;/*top(верх),bottom(вниз)*/
	text-align: left;/*распложение текста(лево,право)*/
	font-family: florence, cursive;/*стиль шрифта*/
	transform: rotate(-45deg);/*поворот текста*/
}
/*.ROMB1{
	display: flex;
	box-shadow: 
	inset 10px 10px 20px #2A279C, /*тень во внутрь div*/
	inset -10px -10px 20px #A12D2D;/*тень во внутрь div*/
	overflow: hidden;/*текст внутри div*/
	border: 2px solid #151717;/*рамка размер*/
	background-image: url("cartinci/priroda2.png");/*встааить картинку*/
	width: 250px;/*ширина div*/
	height: 250px;/*высота div*/
	background-color: skyblue;
  transform: rotate(45deg);/*вращать div*/
  margin: 10% 10%;/*двигать div*/